body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  height: 300px;

  width: 200px;
  margin: auto;
  margin-top: 60px;
  background: linear-gradient(45deg, #000000, #106690, #00000026);
  border-radius: 14px;
}
.wheel {
  border-radius: 50%;
  background-color: white;
  height: 130px;
  width: 130px;
  margin: auto;
  margin-top: 20px;
}
.main-btn {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: linear-gradient(45deg, #000000, #106690);
  margin: auto;
  position: relative;
  right: 0px;
  top: -50px;
}

.handle-btn {
  height: 20px;
  width: 50px;
  font-size: 13px;
  font-weight: 900;
  margin: 2px;
  text-align: center;
  color: lightgray;
  position: relative;
}
.handle-btn img {
  height: 100%;
  width: 100%;
  color: grey;
}
.screen {
  height: 45%;
  width: 90%;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkF9uriXmYWKG0K_2BXJrU4Q3y-sgyhxtbWg&usqp=CAU");
  background-position: center;
  background-size: cover;
  margin: auto;
  position: relative;
  top: 10px;
}

#menu {
  left: 30%;
  top: 5%;
}
#forward {
  left: 70%;
  top: 26%;
}
#backward {
  left: -5%;
  top: 13%;
}
#pause {
  top: 35%;
  left: 33%;
}
